* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* background-color: #8EC5FC;
    background-image: linear-gradient(90deg, #2e91f386, #8EC5FC); */
    /* color: white; */
    color: #444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
}

.title {
    font-family: Georgia, serif;
    font-size: 55px;
    display: flex;
    align-items: center;
}

.title-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 40px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


.data-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.data {
    flex: 1;
    text-align: center;
}

.data p:first-child {
    font-size: 19px;
    margin-bottom: 5px;
}

.data p:last-child {
    font-size: 50px;
    font-weight: bold;
}

.video-section {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.error-section {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 100%;
    margin-bottom: 30px;
}

.video-section video {
    /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); */
    border-radius: 10px;
}

#webcam {
    width: 100%;
    height: auto;
    display: block;
}


@media (max-width: 768px) {
    .data-section {
        flex-direction: column;
    }
    
    .data-section > div {
        margin-bottom: 10px;
    }
}