body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white; /* or any color that matches your design */
    z-index: 1000;
}

.extension-title {
    margin: 0;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #444;
    font-size: 24px; /* Adjust as needed */
    text-align: center;
    border-bottom: 1px solid #cccccc; /* Optional: adds a subtle separator */
    display: flex;
    align-items: center;
}

.title-icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.container {
    width: 320px; /* Set the maximum width you want */
    padding: 30px 30px 0 30px;
    margin-top: 30px;
    box-sizing: border-box;
}

.divider {
    border: none;
    height: 1px;
    background-color: #cccccc; /* Light gray color */
    margin: 3px; /* Adjust top and bottom margin as needed */
}

select {
    width: 100%;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
}

/* Container for the switches */
.toggle-container {
    font-family: Helvetica, sans-serif;
    padding: 10px 10px 0 10px;
}

/* Container for each toggle item */
.toggle-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
}

.toggle-description-wrapper {
    flex-grow: 1;
    margin-right: 10px;
    margin-bottom: 15px;
}

/* Description text for each toggle */
.toggle-description {
    word-break: break-word; /* Ensure long text wraps to the next line */
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

#link {
    display: block; /* Use flexbox */
    text-align: center;
    width: 100%;
    color: #3c8cef;
    font-size: 16px;
    font-weight: bold;
}

#webcamDropdown {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333; /* Text color */
    background-color: #f0f0f0; /* Background color */
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

#webcamDropdown option {
    color: #000; /* Text color for options */
    background-color: #fff; /* Background color for options */
}

.link-wrapper {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Ensure it takes up the full width of its parent */
    margin-right: 10px;
    margin-bottom: 15px;
}

.toggle-switch-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* Toggle switch style */
.toggle-switch, .button {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c5c5c5;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #fd4646;
}

input:checked + .slider:before {
    transform: translateX(46px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Text inside the toggle switch */
.toggle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    font-size: 13px;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

input:checked + .slider .toggle-text {
    left: 20px; /* Position text to the left of the circle */
    right: auto;
}

input:not(:checked) + .slider .toggle-text {
    right: 15px; /* Position text to the right of the circle */
    left: auto;
}

/* 
Radio Buttons 
*/
.radio-container {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.radio-section-title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
}

.radio-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 2px solid #e0e0e0a3;
    border-radius: 8px;
    transition: all 0.1s ease;
}

.radio-item:last-child {
    margin-bottom: 0;
}

.radio-item input[type="radio"] {
    display: none;
}

.radio-item label {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    cursor: pointer;
}

.radio-content {
    display: flex;
    flex-direction: column;
}

.radio-text-primary {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.radio-text-secondary {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
}


.radio-item .icon {
    font-size: 20px;
    margin-right: 12px;
}

.radio-item .radio-text {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.radio-item:hover {
    border-color: #BDBDBD;
}

.radio-item:has(input[type="radio"]:checked) {
    border-color: #1A73E8;
    border-width: 3px;
}


/*
Save Good Posture Button
*/
button#goodPosture {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: #fd4646;
    color: white;
    border: none;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

button#goodPosture:active,
button#goodPosture.clicked {
    transform: scale(0.95);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #fd4646;
}

/* button#goodPosture:hover {
    background-color: #c92121;
} */

#saveButtonMessage {
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    color: #fd4646;
    word-break: break-word;
}
