* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* background-color: #8EC5FC; */
    /* background-image: linear-gradient(90deg, #2e91f386, #8EC5FC); */
    color: #444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
}

.title {
    font-family: Georgia, serif;
    font-size: 55px;
    display: flex;
    align-items: center;
}

.title-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 40px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.stats-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.stat {
    flex: 1;
    text-align: center;
}

.stat p:first-child {
    font-size: 19px;
    margin-bottom: 5px;
}

.stat p:last-child {
    font-size: 50px;
    font-weight: bold;
}

.chart-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.line-chart {
    width: 100%;
    height: 400px;
}

.side-by-side-charts {
    display: flex;
    justify-content: center;
    width: 100%;
}

.time-window-chart {
    width: 65%; /* Adjust as needed */
    height: 400px;
    margin-right: 10px; /* Space between the two charts */
}

.activity-chart {
    width: 35%; /* Adjust as needed */
    height: 400px;
}

@media (max-width: 768px) {
    .stats-section {
        flex-direction: column;
    }
    
    .stat {
        margin-bottom: 10px;
    }
    
    .line-chart, .bar-chart {
        height: 300px;
    }
}